@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.mainTwo{
    background-color: rgb(31, 38, 57);
    min-height: 50vh;
}

.mainTwo h1{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.6rem;
    padding: 2rem;
}

.video{
    height: 60vh;
    margin-top: -10.5rem;
    width: 60vw;
    margin-left: auto;
}

.whitePage{ 
    min-height: 100vh;
    margin-top: 3rem;
}

.whitePage h1{
    margin-left: auto;
    margin-right: auto;
    width: 23rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.grids{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1866ccea;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.circle img{
    width: 2.5rem;
    height: 2.5rem;
}

.cont1{
    padding: 1.2rem;
    height: 15rem;
}

.cont1 h2{
    margin-bottom: 0.5rem;
}

.cont2{
    padding: 1.2rem;
    height: 15rem;
}

.cont2 h2{
    margin-bottom: 0.5rem;
}

.cont3{
    padding: 1.2rem;
    height: 15rem;
}

.cont3 h2{
    margin-bottom: 0.5rem;
}
.cont4{
    padding: 1.2rem;
    height: 15rem;
}

.cont4 h2{
    margin-bottom: 0.5rem;
}

.main2btn{
    display:flex;
        background: linear-gradient(to right, #074699 25%, #56CCF2);
        width:14rem;
        height:3rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        justify-content: center;
        margin-top: 4.5rem;
        margin-bottom: 5rem;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
        color: white;
        box-shadow: #0c53b1 2px 2px 11px 0px ;
        cursor: pointer;
}


@media screen and (max-width:991px){

    .mainTwo{
        background-color: rgb(31, 38, 57);
        min-height: 32vh;
    }
    
    .mainTwo h1{
        color: white;
        font-size: 1.4rem;
        padding: 2rem;
        width: 24rem;
        margin-left: auto;
        margin-right: auto;
        
    }

    .mainTwo span{
        color: rgb(0, 174, 239);
    }
    
    .video{
        height: 22vh;
        margin-top: -6rem;
        width: 90vw;
        margin-left: auto;
    }
    
    .whitePage{
        min-height: 100vh;
        margin-top: 3rem;
    }
    
    .whitePage h1{
        width: 22rem;
        font-size: 1.6rem;
        margin-bottom: 5rem;
    }
    
    .grids{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .circle{
        background-color: #1866ccea;
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }
    
    .cont1{
        padding: 1.2rem;
        height: 15rem;
    }
    
    .cont1 h2{
        margin-bottom: 0.5rem;
    }
    
    .cont2{
        padding: 1.2rem;
        height: 15rem;
    }
    
    .cont2 h2{
        margin-bottom: 0.5rem;
    }
    
    .cont3{
        padding: 1.2rem;
        height: 15rem;
    }
    
    .cont3 h2{
        margin-bottom: 0.5rem;
    }
    .cont4{
        padding: 1.2rem;
        height: 15rem;
    }
    
    .cont4 h2{
        margin-bottom: 0.5rem;
    }
    
    .main2btn{
        display:flex;
            background: linear-gradient(to right, #074699 25%, #56CCF2);
            width:14rem;
            height:3rem;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            justify-content: center;
            margin-top: 2.5rem;
            margin-bottom: 5rem;
            align-items: center;
            text-align: center;
            font-size: 1.2rem;
            color: white;
            box-shadow: #0c53b1 2px 2px 11px 0px ;
    }
}
